@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
}

.btn-primary {
    @apply font-semibold text-white bg-primary py-3 px-8 rounded-full hover:shadow-lg hover:opacity-80 transition duration-300 ease-in-out; 
}

.navbar-fixed {
    @apply fixed z-[9999] bg-white dark:bg-dark dark:bg-opacity-50 bg-opacity-70 backdrop-blur-[5px];
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2)
}

.hamburger-line{
    @apply w-[30px] h-[2px] my-2 block bg-dark transition duration-300 ease-in-out;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.nav-links {
    @apply text-base text-dark py-2 mx-8 flex group-hover:text-primary dark:text-white;
}

